<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Frogger</title>
</head>
<body>
    <h2>Frogger</h2>
    <p>Created by kidskoding (Anirudh Konidala)</p>
    <iframe src="<%= apiUrl %>" width="700" height="690" />
</body>
</html>